extends layout

block content
  h1= title
    - let chips  = results
  div(class="container-fluid mt-3")
  div(class="row")
    each i ,index in chips  
      div(class="col-sm-4")  #{i.chipsName} - #{i.Flavour} -#{i.price}
     
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }